.drop {
  cursor: pointer;
  z-index: 2;
  min-width: 120px;
}

.dropItem {
  transition-duration: 0.2s;
  transition-property: background;
  &:hover {
    background-color: rgba(200, 200, 200, 0.5);
  }
  &_checked {
    background-color: rgba(200, 200, 200, 0.5);
  }
}

.dropContainer {
  transition-property: height;
  transition-duration: 0.22s;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(20, 20, 20, 0.2);
  z-index: 30;
  top: calc(100% + 1px);
  left: 0;
}

.drpSelectItem {
  position: relative;
  &_cacel:hover {
    text-decoration: line-through;
    color: #9a9a9a;
  }
}
