@import "../../styles/basic.module";

.autoHide {
  overflow-y: auto;
  @include mobile {
    display: none;
  }
}

.tagActive {
  background-color: #ccc;
  & * {
    background-color: inherit;
  }
}
