@import "../../styles/basic.module";

.btnsPosition {
  left: calc(100vw - 90px);
  bottom: 18px;
  z-index: 100;
  width: 60px;
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 0.3s;
  &:hover {
    opacity: 1;
  }
  @include mobile {
    left: auto;
    right: 8px;
    bottom: 12px;
    & > * {
      font-size: 0.85em;
    }
  }
}

.menuContent {
  font-size: 0.85em;
  min-width: 200%;
  bottom: 100%;
  right: 0%;
  background-color: #fff;
}

.canvasContent {
  width: 100px !important;
  height: 100px !important;
  right: 110%;
  top: 26%;
}
