.tagItem {
  background-color: #eee;
  overflow: hidden;
  transition-property: background;
  transition-duration: 0.2s;
  width: 130px;
  &__left {
    width: 70%;
    position: relative;
    color: white;
    flex-shrink: 0;

    &__icon {
      width: 40px;
      flex-shrink: 0;
      text-align: center;
    }

    &__text {
      width: calc(100% - 40px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-shrink: 0;
    }
  }

  &__left::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 99%;
    left: 41%;
    background: inherit;
    z-index: -1;
  }

  &__left::after {
    content: "";
    vertical-align: middle;
    position: absolute;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    top: 0;
    width: 10px;
    height: 100%;
    left: calc(100% - 0.22px);
    background: inherit;
  }

  &__right {
    width: 30%;
    padding-left: 14px;
  }
}

.hoverItem {
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
}
