.closeIcon {
  // display: none;
  cursor: pointer;
  &:hover {
    // display: block;
    color: indigo;
  }
}

.item {
  min-width: 160px;
}

.swatchLink {
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 0.2s;
  cursor: pointer;
}
