@import "../../styles/variable.module";
@import "../../styles/basic.module";

.closeIcon {
  cursor: pointer;
  &:hover {
    color: indigo;
  }
}

.item {
  min-width: 160px;
}

.swatchLink {
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 0.2s;
  cursor: pointer;
}

.blogItem {
  .caverItem {
    position: absolute;
    width: 50%;
    height: 0;
    left: 50%;
    top: 0;
    overflow: hidden;
    background-color: transparent;
    transition-property: background;
    transition-duration: 0.2s;
  }

  &:hover {
    .caverItem {
      height: 100%;
      background-color: rgba(100, 100, 100, 0.6);
    }
  }
}

.deleteBlogItem {

  @include desktop {
    max-width: 600px;
  }
}
